@model IEnumerable<EmployeesCurd.Models.Employee>

@{
    ViewData["Title"] = "Show Employee";
}

<h1 class="text-body">Employee Details</h1>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Salary</th>
        <th>Update Status</th>
        <th>Action</th>
    </tr>

    @foreach (var empl in Model)
    {
        <tr>
            <td>@empl.Id</td>
            <td>@empl.EName</td>
            <td>@empl.Email</td>
            <td>@empl.Gender</td>
            <td>@empl.Address</td>
            <td>@empl.Salary</td>

            <td><a class="btn btn-success" asp-action="UpdateStatus" asp-controller="Employee" asp-route-id="@empl.Id">Active</a></td>
            <td>
                <a class="btn btn-info" asp-action="Update" asp-controller="Employee" asp-route-id="@empl.Id">Update</a>
                <a class="btn btn-danger" asp-action="Delete" asp-controller="Employee" asp-route-id="@empl.Id">Delete</a>
            </td>
        </tr>
    }

</table>